{% extends 'base.html' %}

{% load static %}

{% block title %}
    詳細
{% endblock title %}

{% block content %}
<section class="ml-12 mt-6">
    <div class="space-y-8 sm:space-y-5">

        <div class="pt-8 space-y-6 sm:pt-6 sm:space-y-5">

            <div class="sm:border-b-4 sm:border-gray-200 w-9/12">
                <h3 class="text-2xl mb-5 leading-6 font-medium text-gray-900">Detail</h3>
                <p class="pb-6 mt-1 max-w-2xl text-sm text-gray-500">記録の詳細です。</p>
            </div>

            <div class="space-y-6 sm:space-y-5">
            
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-4">
                    <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">日付(yyyy-mm-dd)</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.date }}</p>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 業務開始時刻 </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.start_time }}</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 業務終了時刻 </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.end_time }}</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 休憩時間 </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.rest_time }} 時間</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 今日の点数（5点満点） </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.rating }}</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 振り返り </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.comment}}</p>
                </div>
                </div>

            </div>

        </div>
    
    </div>
    <!-- button -->
    <div class="mt-12">
        <div class="flex justify-start">
            <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"><a href="{% url 'time_management:edit' id=obj.pk %}">Edit</a></button>
            <button type="button" class="ml-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-teal-700 bg-teal-100 hover:bg-teal-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"><a href="{% url 'time_management:index' %}">Back to Top</a></button>
        </div>
    </div>
</section>
{% endblock content %}