{% extends 'base.html' %}

{% load static %}

{% block title %}
    詳細
{% endblock title %}

{% block content %}
<section class="ml-12 mt-6">
    <div class="space-y-8 sm:space-y-5">

        <div class="pt-8 space-y-6 sm:pt-6 sm:space-y-5">

            {% for message in messages %}
            <div {% if message.tags %}class="{{ message.tags }} messageArea"{% endif %}>
                <div id="toast" class="flex items-center p-4 mb-8 w-9/12 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-700" role="alert">
                    <div class="ml-3 text-sm font-normal text-gray-200">{{ message }}</div>
                    <button type="button" id="test" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-200 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-collapse-toggle="toast-success" aria-label="Close">
                        <span class="sr-only">Close</span>
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </button>
                </div>
            </div>
            {% endfor %}

            <div class="sm:border-b-4 sm:border-gray-200 w-9/12">
                <h3 class="text-2xl mb-5 leading-6 font-medium text-gray-900">Detail</h3>
                <p class="pb-6 mt-1 max-w-2xl text-sm text-gray-500">記録の詳細です。</p>
            </div>

            <div class="space-y-6 sm:space-y-5">
            
                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-4">
                    <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">日付(yyyy-mm-dd)</label>
                    <div class="mt-1 sm:mt-0 sm:col-span-2">
                        <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.date }}</p>
                    </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 業務開始時刻 </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.start_time }}</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 業務終了時刻 </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.end_time }}</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 休憩時間 </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.rest_time }} 時間</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 交通費 </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.travel_cost }}</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 備考 </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.travel_remarks}}</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 今日の調子（5点満点） </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.rating }}</p>
                </div>
                </div>

                <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
                <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 振り返り </label>
                <div class="mt-1 sm:mt-0 sm:col-span-2">
                    <p class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2">{{ obj.comment |linebreaksbr }}</p>
                </div>
                </div>

            </div>

        </div>
    
    </div>
    <!-- button -->
    <div class="mt-12">
        <div class="flex justify-start">
            <button type="button" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"><a href="{% url 'time_management:edit' id=obj.pk %}">Edit</a></button>
            <button type="button" class="ml-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-teal-700 bg-teal-100 hover:bg-teal-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"><a href="{% url 'time_management:index' %}">Back to Top</a></button>
        </div>
    </div>
</section>

<script>
document.getElementById("test").onclick = function() {
    const messageArea = document.getElementById('toast');
    messageArea.remove();
};
</script>
{% endblock content %}