{% extends 'base.html' %}

{% load static %}

{% block title %}
    編集
{% endblock title %}

{% block content %}

<div class="ml-12 mt-6">
<form method="POST" >{% csrf_token %}
    <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
  
      <div class="pt-6 space-y-6 sm:pt-6 sm:space-y-5">

        <div class="sm:border-b-4 sm:border-gray-200 w-9/12">
          <h3 class="text-2xl mb-5 leading-6 font-medium text-gray-900">Edit</h3>
          <p class="pb-6 mt-1 max-w-2xl text-sm text-gray-500">記録を編集することができます。</p>
        </div>

        <div class="space-y-6 sm:space-y-5">
            
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-4">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 日付（yyyy-mm-dd）</label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name='date' id='id_date' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md" value="{{ form.date.value |date:'Y-m-d' }}">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start   sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 業務開始時刻 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name='start_time' id='id_start_time' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md" value="{{ form.start_time.value }}">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start   sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 業務終了時刻 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name='end_time' id='id_end_time' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md" value="{{ form.end_time.value }}">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start   sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 休憩時間 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="number" name='rest_time' id='id_rest_time' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md" value="{{ form.rest_time.value }}">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-star sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 交通費 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="number" name='travel_cost' id='id_travel_cost' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md" value="{{ form.travel_cost.value }}">
            </div>
          </div>

          <div class="sm:pb-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-star sm:pt-2">
            <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 備考 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <textarea rows="2" type="text" name='travel_remarks' id='id_travel_remarks' class="p-2 shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:max-w-md sm:text-sm border-gray-300 rounded-md">{{ form.travel_remarks.value }}</textarea>
            </div>
          </div>
          
          <div class="sm:border-dashed sm:border-b-2 sm:border-gray-200 w-9/12"></div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start   sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 今日の調子（5点満点） </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="number" name='rating' id='id_rating' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md" value="{{ form.rating.value }}">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start   sm:pt-2">
            <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 振り返り </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <textarea rows="6" type="text" name='comment' id='id_comment' class="p-2 shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:max-w-md sm:text-sm border-gray-300 rounded-md">{{ form.comment.value }}</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if error_msg %}
    <div class='pt-4'>
      <p>=============</p>
      <p>{{ error_msg }}</p>
      <p>=============</p>
    </div>
    {% endif %}
  
    <div class="pt-2">
      <div class="flex justify-start">
        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">Save</button>
        <button type="button" class="ml-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-teal-700 bg-teal-100 hover:bg-teal-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"><a href="{% url 'time_management:index' %}">Back to Top</a></button>
      </div>
    </div>
  </form> 
</div>
{% endblock content %}