{% extends 'base.html' %}

{% load static %}

{% block title %}
    勤怠履歴
{% endblock title %}

{% block content %}
<div class="py-12">
    <h2 class="text-center text-xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">勤怠記録</h2>
    <p class="mt-6 max-w-3xl mx-auto text-center text-base text-gray-500">今日もお疲れ様でした。1 日の記録をつけましょう。</p>
    <div class="pt-8">
        <div class="flex justify-center">
          <button type="submit" class="inline-flex justify-center py-2 px-12 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"><a href="{% url 'new' %}">Check Out</a></button>
        </div>
      </div>
</div>


{% if object_list %}
<div class="flex flex-col mt-4">
    <div class="-my-2 overflow-x-auto sm:-mx-4 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-4 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                    <tr>
                        <th scope="col" class="px-7 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">日付</th>
                        <th scope="col" class="px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">始業時刻</th>
                        <th scope="col" class="px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">就業時刻</th>
                        <th scope="col" class="px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">休憩時間</th>
                        <th scope="col" class="px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">点数</th>
                        <th scope="col" class="px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider">振り返り</th>
                        <th scope="col" class="px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider"><span class="sr-only">Detail</span></th>
                        <th scope="col" class="px-4 py-3 text-left text-sm font-medium text-gray-500 uppercase tracking-wider"><span class="sr-only">Edit</span></th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% for obj in object_list %}
                    <tr>
                        <th class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{ obj.date }}</th>
                        <th class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ obj.start_time }}</th>
                        <th class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ obj.end_time }}</th>
                        <th class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ obj.rest_time }} 時間</th>
                        <th class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">{{ obj.rating }}</th>
                        <th class="px-6 py-4 whitespace-nowrap text-sm text-gray-500 text-left">{{ obj.comment　| truncatechars:30 }}</th>
                        <th class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><a href="{% url 'detail' id=obj.pk %}" class="text-indigo-600 hover:text-indigo-900">Detail</a></th>
                        <th class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"><a href="{% url 'edit' id=obj.pk %}" class="text-indigo-600 hover:text-indigo-900">Edit</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- pagenation -->
<nav class="px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6" aria-label="Pagination">
    <div class="hidden sm:block">
      <p class="text-sm text-gray-700">
        Showing
        <span class="font-medium">{{ page_obj.number }}</span>
        of
        <span class="font-medium">{{ page_obj.paginator.num_pages }}</span>
      </p>
    </div>

    <div class="flex-1 flex justify-between sm:justify-end">
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">previous</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">next</a>
    {% endif %}
    </div>
  </nav>

{% else %}
<p>1 件も登録はありません。</p>
{% endif %}

{% endblock content %}