{% extends 'base.html' %}

{% load static %}

{% block title %}
    新規作成
{% endblock title %}

{% block content %}

<div class="ml-12 mt-6">
<form method="POST">{% csrf_token %}
    <div class="space-y-8 sm:space-y-5">
  
      <div class="pt-8 space-y-6 sm:pt-6 sm:space-y-5 ">

        {% for message in messages %}
          <div {% if message.tags %}class="{{ message.tags }} messageArea"{% endif %}>
              <div id="toast" class="flex items-center p-4 mb-8 w-9/12 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-700" role="alert">
                  <div class="ml-3 text-sm font-normal text-gray-200">{{ message }}</div>
                  <button type="button" id="test" class="ml-auto -mx-1.5 -my-1.5 bg-white text-gray-200 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex h-8 w-8 dark:text-gray-400 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-collapse-toggle="toast-success" aria-label="Close">
                      <span class="sr-only">Close</span>
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                  </button>
              </div>
          </div>
        {% endfor %}

        <div class="sm:border-b-4 sm:border-gray-200 w-9/12">
          <h3 class="text-2xl mb-5 leading-6 font-medium text-gray-900">Check In / Check Out</h3>
          <p class="pb-6 mt-1 text-sm text-gray-500">1 日の勤怠記録をつけてください。日付のみ入力必須項目です。</p>
        </div>

        <div class="space-y-6 sm:space-y-5">
            
          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-4">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 日付（yyyy-mm-dd）</label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name='date' id='id_date' placeholder="2022-01-01" class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 業務開始時刻 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name='start_time' id='id_start_time' placeholder='10:00' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-star sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 業務終了時刻 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="text" name='end_time' id='id_end_time' placeholder='19:00' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-star sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 休憩時間 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="number" step='0.1' name='rest_time' id='id_rest_time' placeholder="1.0" class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-star sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 交通費 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="number" name='travel_cost' id='id_travel_cost' placeholder="1000" class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:pb-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:items-star sm:pt-2">
            <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 備考 </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <textarea rows="2" type="text" name='travel_remarks' id='id_travel_remarks' class="p-2 shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:max-w-md sm:text-sm border-gray-300 rounded-md"></textarea>
            </div>
          </div>

          <div class="sm:border-dashed sm:border-b-2 sm:border-gray-200 w-9/12"></div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-star sm:pt-2">
            <label for="first-name" class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 今日の調子（5点満点） </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <input type="number" name='rating' id='id_rating' placeholder='5' class="p-2 max-w-lg block w-full shadow-sm focus:ring-teal-500 focus:border-teal-500 sm:max-w-xs lg:text-sm border-gray-300 rounded-md">
            </div>
          </div>

          <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-star sm:pt-2">
            <label class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"> 振り返り </label>
            <div class="mt-1 sm:mt-0 sm:col-span-2">
              <textarea rows="6" type="text" name='comment' id='id_comment' class="p-2 shadow-sm focus:ring-teal-500 focus:border-teal-500 block w-full sm:max-w-md sm:text-sm border-gray-300 rounded-md"></textarea>
            </div>
          </div>
        </div>

      </div>

    </div>
  
    <div class="pt-2">
      <div class="flex justify-start">
        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500">Save</button>
        <button type="button" class="ml-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-teal-700 bg-teal-100 hover:bg-teal-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"><a href="{% url 'time_management:index' %}">Back to Top</a></button>
      </div>
    </div>
</form>
</div>

<script>
  document.getElementById("test").onclick = function() {
    const messageArea = document.getElementById('toast');
    messageArea.remove();
  };
</script>
{% endblock content %}