{% extends 'base.html' %}

{% load static %}

{% block title %}
    可視化
{% endblock title %}


{% block others %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
{% endblock others %}

{% block content %}

<div class='container mx-auto w-10/12 mt-6'>
    <div class="mx-auto py-4 px-4 sm:py-6 sm:px-6 lg:px-8">
        <div class="text-center">
        <p class="mt-1 text-2xl font-bold text-gray-900 sm:text-2xl sm:tracking-tight lg:text-2xl">Health Monitoring</p>
        <p class="max-w-xl mt-5 mx-auto text-sm text-gray-500">働きすぎには要注意！調子がよくても労働時間はほどほどにしましょう。</p>
        </div>
    </div>
    <canvas id="workRating" class='mt-6'></canvas>

    <div class="pt-6">
        <div class="flex justify-center">
          <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-teal-600 hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"><a href="{% url 'time_management:index' %}">Back to Top</a></button>
          <!-- <button type="button" class="ml-4 inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-teal-700 bg-teal-100 hover:bg-teal-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-teal-500"><a href="{% url 'time_management:index' %}">Back to Top</a></button> -->
        </div>
      </div>
</div>


<script>
    {% autoescape off %}
    const date_list = "{{ dates }}"
    const rating_list = "{{ ratings }}"
    const work_time_list = "{{ work_time }}"
    {% endautoescape %}

    function parseDate(dateString){
        const parts = dateString.split('-');
        return new Date(parts[0], parts[1]-1, parts[2])
    }

    label_dates = date_list.replace(/( |'|\[|\])/g, '').split(',').map(dateString => parseDate(dateString))
    ratings = rating_list.replace(/(\[|\]| )/g, '').split(',').map(numString => Number(numString))
    work_times = work_time_list.replace(/(\[|\]| )/g, '').split(',').map(numString => Number(numString))

    console.log(ratings)
    console.log(work_times)

    const data = {
        labels: label_dates,
        datasets: [{
            label: '1日の調子',
            borderColor: ['rgb(75, 192, 192)'],
            data: ratings,
            fill: false,
            type: 'line',
            yAxisID: 'y-axes-1'
        },
        {
            label: '労働時間',
            // borderColor: ['rgb(255, 140, 0)'],
            backgroundColor: 'rgb(255, 165, 0)',
            data: work_times,
            type: 'bar',
            yAxisID: 'y-axes-2'
        }
    ]
    }

    const config = {
        data: data,
        
        options: {
            scales: {
                xAxes: [{
                    type: 'time',
                    time: {
                        unit: 'day'
                    }
                }],
                yAxes: [{
                    id: 'y-axes-1',
                    type: 'linear',
                    position: 'left',
                    ticks: {
                        max: 6.0,
                        min: 0.0,
                        stepSize: 1.0
                        }  
                    },
                    {
                    id: 'y-axes-2',
                    type: 'linear',
                    position: 'right',
                    ticks: {
                        max: 12.0,
                        min: 0.0,
                        stepSize: 1.0
                        }  
                    }
                ]
            }
        }
    }
    const myChart = new Chart(
        document.getElementById('workRating'),
        config
    )
</script>

{% endblock content %}