{% load static %}

{% if user.is_authenticated %}
<header class="bg-teal-600">
    <nav class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="w-full py-4 flex items-center justify-between border-b border-teal-500 lg:border-none">
            <div class="flex items-center">
                <a href="/">
                <span class="sr-only">Work-Management</span>
                <img class="h-10 w-auto" src="{% static 'logo-white.png' %}" alt="">
                </a>
                <div class="hidden ml-12 space-x-8 lg:block">
                <a href="{% url 'time_management:new' %}" class="text-base font-medium text-white hover:text-teal-50"> Check Out </a>
                <a href="{% url 'time_management:visualize' %}" class="text-base font-medium text-white hover:text-teal-50"> Visualize </a>
                </div>
            </div>
            <div class="ml-10 space-x-4">
                <a href="/accounts/logout" class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-sm font-medium text-teal-600 hover:bg-teal-50">Sign Out</a>
            </div>
        </div>
    </nav>
</header>
{% else %}
<header class="bg-teal-600">
    <nav class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="w-full py-4 flex items-center justify-between border-b border-teal-500 lg:border-none">
            <div class="flex items-center">
                <a href="/">
                <span class="sr-only">Work-Management</span>
                <img class="h-10 w-auto" src="{% static 'logo-white.png' %}" alt="">
                </a>
            </div>
            <div class="ml-10 space-x-4">
                <a href="/accounts/login" class="inline-block bg-teal-500 py-2 px-4 border border-transparent rounded-md text-sm font-medium text-white hover:bg-opacity-75">Sign in</a>
                <a href="/accounts/signup" class="inline-block bg-white py-2 px-4 border border-transparent rounded-md text-sm font-medium text-teal-600 hover:bg-teal-50">Sign up</a>
            </div>
        </div>
    </nav>
</header>

{% endif %}